<!DOCTYPE HTML>

<html> 
	<head>
		<title>{{page.title}}</title>    
		
		<!-- 1140px Grid styles for IE -->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen" /><![endif]-->    

		{{ head }}
		<link rel="stylesheet" href="/css/main.css" type="text/css">    
		    
		               
	</head>
	<body>                                   
		{{ content }}

		<!-- javascript - resources first, other shit later. This is faster -->

		<!--[if IE]>
			<script type="text/javascript" src="/js/json2.js"></script>   
			<script type="text/javascript" src="/js/es5-shim.js"></script>   
		<![endif]-->
			
		{{ scripts }}

		<script type="text/javascript">  
		head.js("http://js.exceptional.io/exceptional.js",
			{{ page.head_scripts }}
			function() {
				Exceptional.setKey('bf8ae59567c50a4fda803261125fb618776694b7');
		});
		</script>

	</body>                   
</html>                         

