#hud_holder {
	background-color: rgba(0,0,0,0.5);
	width: @hudWidth;
	height: @hudHeight;
	color: #FFF;
	padding: @hudInnerPadding;
	position: relative;
	top: 150px;

	.centered();
	.rounded(2px);
	overflow: hidden;
}


.hud-scroll {
	overflow: hidden;
}


#hud_content_view {
	width: @hudWidth;
	height: 100%;
}