#hud_holder {
	background-color: rgba(0,0,0,0.5);
	width: 500px;
	height: 350px;
	color: #FFF;
	padding: 8px;
	position: relative;
	top: 150px;

	.centered();
	.rounded(2px);
	overflow-y: scroll;
}

::-webkit-scrollbar {
	
}